@media (max-width: 768px) {
  /* HEADER */
  header {
    .navBar {
      justify-content: flex-end;
      padding-right: 20px;

      .navMenu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;

        &.active {
          left: 0;
        }

        .navItem {
          margin: 16px 0;
        }
      }
      .burgerMenu {
        display: block;
        &.active {
          .bar:nth-child(2) {
            opacity: 0;
          }
          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }

  /* HEADER */
}
